button{
    min-width: 165px;
    width: 100%;
    letter-spacing: 0.5px;
    padding: 10px 35px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #0095f6;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
}