.sign-up-container{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 30px auto 0 auto;
    background-color: white;
    border: 1px solid #80808073;
    padding: 40px;

    span{
        text-align: center;
    }
}

.sign-up-title{
    margin: 0 auto 10px auto;
    text-align: center;
}